
<app-home></app-home>
<app-footer></app-footer>







<!--<br>
<input [type]="text" [(ngModel)]="title">
<br>
<input [type]="text" [(ngModel)]="id">
<br>
<input [type]="text" [(ngModel)]="ans">
<br>


<div>

    Name is...{{title}} <br>
    ID is...{{id}} <br>
    Ans is...{{ans}}
  
  
  </div>


<br>
<div>

  {{student}}
</div>-->







