<div class="container color-dark">
    <div class="col">
      <p>Add a bucket list item</p>
    </div>
    <div class="col">
        <p>Your bucket list ({{ itemCount }})</p>
    </div>
  </div>
  <div class="container color-light">
    <div class="col">
      <p class="sm">Use this form below to add a new bucket list goal. What do you want to accomplish in your life?</p>
  
      <form>
          <input type="text" class="txt" name="item" placeholder="Life goal.." [(ngModel)]="goalText">

          <br><span>{{ goalText }}</span><br>  
          
          <input type="submit" class="btn" value="{{ btnText }}" (click)="addItem()">
      </form>
    </div>
    <div class="col">
        <p class="life-container" *ngFor="let goal of goals">
            {{ goal }}
          </p>
    </div>
  </div>